{%load static %}
<!DOCTYPE html>
<html>
<head>
<title>Oshina Lindsay - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Oshina Lindsay."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Oshina Lindsay" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Oshina Lindsay</h1>
			<h2 class="quickFade delayThree">Resume</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="#">Linziclin@gmail.com</a></li>
				<li>website: <a href="http://www.bloggs.com">www.oshinalindsay.com</a></li>
				<li>trn: 124-725-171</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Objective</h1>
				</div>
				
				<div class="sectionContent">
					<p>To contribute to the effectiveness, eﬃciency and productivity within your organization as well as to gain experience and new skills.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Price Waterhouse Coopers (PwC) - Auditing (Assurance Intern)</h2>
					<p class="subDetails">01/2020 – 05/2020 - Present</p>
					<p>Performing External Audits.</p>
				</article>
				
				<article>
					<h2>Sagicor Bank – Central Reconciliation Intern</h2>
					<p class="subDetails">01/2019 – 05/2019</p>
					<p>Reconciliation of ATM and balancing General Ledger..</p>
				</article>

	<article>
					<h2>Price Waterhouse Coopers (PwC) - Auditing</h2>
					<p class="subDetails">01/2019 – 05/2019</p>
					<p>Performing External Audits.</p>
				</article>
				
				<article>
					<h2>Sagicor Bank- Sales Agent</h2>
					<p class="subDetails">08/2018 – 01/2019</p>
					<p>Opening Accounts and sales marketing of MasterCard.</p>
				</article>

		<article>
					<h2>Sagicor -Auditing Intern </h2>
					<p class="subDetails">07/2018 – 08/2018</p>
					<p>Testing internal controls.</p>
				</article>
	<article>
					<h2>Kingston & St Andrew Health Department- Accounting Clerk Intern</h2>
					<p class="subDetails">07/2018 – 08/2018</p>
					<p>Filing payrolls for staff and providing flexible assistance to cashier and Accounting department.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Good interpersonal skills</li>
					<li>Microsoft- Word and Excel Skills</li>
					<li>Reconciliation of accounting skills</li>
					<li>Project management skills</li>
					<li>Work very well in teams</li>
					<li>Good critical thinking and analytical skills</li>
					<li>Audit & Reporting </li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>University of the West Indies</h2>
					<p class="subDetails">Qualification</p>
					<p>B.Sc. Accounting Major and Management studies (double major)

</p>
				</article>
				
				<article>
					<h2>Immaculate Conception High School </h2>
					<p class="subDetails">Qualification</p>
					<p>CXC, Associates Certification</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>